.HomePage-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #9bbce0;
}

.HomePage-text {
  color: white;
  text-shadow: #577494 1px 0 10px;
  margin-top: auto;
}

.HomePage-windowsill {
  overflow: visible;
  min-width: 80%;
  min-height: 30%;
  max-height: 50%;
  max-width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 5%;
}

.HomePage-bench {
  z-index: 4;
  object-fit: contain;
  position: relative;
  margin-top: auto;
  margin-bottom: 5%;
}

.HomePage-plantsContainer {
  overflow: visible;
  z-index: 2;
  width: 80%;
  height: auto;
  margin-top: -36%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.backArrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #577494;
  margin-right: auto;
  margin-top: -4%;
  margin-left: 5%;
  margin-bottom: 5%;
  opacity: 0.8;
  z-index: 5;
}

.backArrow:hover {
  cursor: pointer;
  opacity: 1;
}

.nextArrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #577494;
  margin-left: auto;
  margin-top: -10%;
  margin-right: 5%;
  margin-bottom: 5%;
  opacity: 0.8;
  z-index: 5;
}

.nextArrow:hover {
  cursor: pointer;
  opacity: 1;
}
