.HomePage-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #9bbce0;
}

.HomePage-text {
  color: white;
  text-shadow: #577494 0px 1px 10px;
  margin-top: auto;
  margin-bottom: 2%;
  z-index: 9999999;
}

.Homepage-name {
  font-size: 60px;
}

.Homepage-seeYourGarden {
  font-size: 40px;
}

.HomePage-windowsill {
  margin-bottom: 5%;
  width: auto;
  max-height: 30%;
}
