.HomePage-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #9bbce0;
}

.HomePage-text {
  color: white;
  text-shadow: #577494 1px 0 10px;
}
