.NewPlant-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: #cfd896;
}

.NewPlantInput-form {
  display: flex;
  flex-direction: column;
  background-color: #9bbce0;
  max-width: 35%;
  max-height: 70%;
  margin-left: 5%;
  border-radius: 20px;
  box-shadow: 0 2px 50px 1px rgba(0,0,0,.16);
  margin-top: auto;
  margin-bottom: auto;
}

.NewPlantInput-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  font-weight: bold;
}

.NewPlantInput-input {
  margin: 10px 5px;
  font-size: 16px;
  border: solid 0px;
  border-radius: 20px;
  padding: 10px 10px;
}

.NewPlantInput-buttonContainer {
  margin: auto;
  margin-bottom: 20px;
}

.NewPlantInput-submitButton {
  margin: auto;
  padding: 10px 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 40px;
  background-color: #577494;
  border: 0px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,.16);
  text-shadow: grey 1px 0 5px;
  transition: text-shadow 0.2s;
}

.NewPlantInput-submitButton:hover {
  text-shadow: white 1px 0 10px;
  /* box-shadow: 0px 0px 5px -1px grey; */
}

.NewPlantInput-cancel{
  font-weight: 700;
  color: var(--white);
  flex: auto auto auto;
  display: flex;
  background-color: rgba(0,0,0,0);
  border: none;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 3.5%;  
}

.NewPlant-plantSliderContainer {
  display: flex;
  flex-flow: row;
  width: 40%;
  height: 60%;
  margin: auto;
  margin-right: 5%;
}

.NewPlant-plantSelection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

.NewPlant-singlePlant {
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  max-height: 100%;
  z-index: 10;
  margin-top: auto;
  transition-duration: 1s;
}

.PlantSlider-backArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #577494;
  margin-top: auto;
  opacity: 0.8;
}

.PlantSlider-backArrow:hover {
  cursor: pointer;
  opacity: 1;
}

.PlantSlider-nextArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #577494;
  margin-top: auto;
  opacity: 0.8;
}

.PlantSlider-nextArrow:hover {
  cursor: pointer;
  opacity: 1;
}

.NewPlantInput-title {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0,0,0,.32);
}

.NewPlant-err{
  position: absolute;
  top: calc(250px + 50%);
  color: rgb(156, 0, 0);
  width: 30%;
  font-weight: 600;
  align-self: center;
  text-align: center;
  animation: 6s fadeInOut 0s 1 normal both;
  -moz-animation: 6s fadeInOut 0s 1 normal both;
  -webkit-animation: 6s fadeInOut 0s 1 normal both;
  -o-animation: 6s fadeInOut 0s 1 normal both;
}
.NewPlant-submitted{
  color: var(--text-dark);
}

@keyframes fadeInOut {
  from {
      opacity:0;
  }
  10% {
      opacity:1;
  }
  90% {
    opacity:1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeInOut {
  from {
      opacity:0;
  }
  10% {
      opacity:1;
  }
  90% {
    opacity:1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInOut {
  from {
      opacity:0;
  }
  10% {
      opacity:1;
  }
  90% {
    opacity:1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeInOut {
  from {
      opacity:0;
  }
  10% {
      opacity:1;
  }
  90% {
    opacity:1;
  }
  to {
    opacity: 0;
  }
}