.NotFound-container{
  position: fixed;
  place-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#9bbce0, #a4def9);
}
.NotFound{
  position: relative;
  padding-top: 25vh;
}