.NavBar-container {
  padding: var(--s) var(--m);
  background-color: #e6b9b5;
  position: fixed;
  width: 100%;
  display: flex;
  box-shadow: 0 8px 10px -6px grey;
  z-index: 1;
  height: 45px;
}

.NavBar-leftSide {
  display: flex;
  flex-flow: row nowrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.NavBar-rightSide {
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2% ;
}

.NavBar-name{
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  text-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.NavBar-title {
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  text-shadow: grey 1px 0 10px;
}

.NavBar-linkContainer {
  margin: auto;
}

.NavBar-link,
.NavBar-link:visited {
  color: #000;
  opacity: 0.7;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}

.NavBar-link:hover {
  opacity: 0.9;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-logout {
  margin-right: 40px;
}

.NavBar-googleButton {
  background-color: #8d945f;
  color: white;
  border-radius: 20px;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 3px;
  padding: 10px 20px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,.16);
  text-shadow: 0px 1px 4px rgba(0,0,0,.16);
  transition: text-shadow 0.2s;
}

.NavBar-googleButton:hover {
  text-shadow: white 1px 0 10px;
  /* box-shadow: 0px 0px 5px -1px grey; */
}
