.NavBar-container {
  padding: var(--s) var(--m);
  background-color: #e6b9b5;
  position: fixed;
  width: 100%;
  display: flex;
  box-shadow: 0 8px 10px -6px grey;
  z-index: 1;
  height: 45px;
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  margin-top: auto;
  margin-bottom: auto;
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-logout {
  margin-right: 40px;
}
